.text-updater-node {
    min-height: 75px;
    width: 300px;
    border-radius: 10px;
    background: white;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, .25), 0 0 5px rgba(0, 0, 0, .25), inset 17px 23px 15px 1px hsla(0, 0%, 100%, .1);
}

.text-updater-node.active {
    border: 2px solid #36f;
}

.text-updater-node-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #b2ffff;
    margin: 0;
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.text-updater-node-header-text {
    font-weight: bolder;
    font-size: 14px;
    margin-left: 5px;
}

.text-updater-node-text {
    padding: 15px 10px;
    word-wrap: break-word;
}